input/user-input
if_statments/HelloWorld.java
if_statments/calculator
if_statments/switch-statments
if_statments/if-statments
if_statments/ternary-operator
if_statments/test
if_statments/pattern_output.txt
if_statments/test.cpp
if_statments/chatgpt.cpp
if_statments/chatgpt
loops/while-loops/do-while
loops/while-loops/learning
loops/for-loops/learning
loops/for-loops/break&countinue
loops/for-loops/nested-loops
loops/for-loops/dice-roller
loops/for-loops/dice-roller.cpp
loops/for-loops/foreach-loop
input/functions
input/overloaded-functions
input/return
practice_projects/banking-program
practice_projects/rps-game
input/XOR-gate.cpp
input/XOR-gate
input/random-things/number-guessing-game
simple-programs/random-numbers
simple-programs/random-events
const
name-space
type-conversion
typedef
arrays/learning
arrays/iterate
arrays/passing-to-function
arrays/search
sizeof