input/user-input
input/if_statments/a.java
input/if_statments/calculator
input/if_statments/switch-statments
input/if_statments/if-statments
input/if_statments/ternary-operator
input/if_statments/test
input/if_statments/pattern_output.txt
input/if_statments/test.cpp
input/if_statments/chatgpt.cpp
input/if_statments/chatgpt
input/loops/for-loops/learning
input/loops/for-loops/break&countinue
input/loops/for-loops/nested-loops
input/loops/for-loops/dice-roller
input/loops/for-loops/dice-roller.cpp
input/functions
input/overloaded-functions
input/return
input/banking-program
input/XOR-gate.cpp
input/XOR-gate
input/random-things/number-guessing-game
simple-programs/random-numbers
simple-programs/random-events
const
name-space
type-conversion
typedef
arrays